@{
    ViewData["Title"] = "O programie";
}

<div class="container col-md-8">
    <div class="card">
        <div class="card-header">
            <h1>Accounting Program</h1>
        </div>
        <div class="card-body">
            <p class="lead">Aplikacja <strong>Accounting Program</strong>to proste narzędzie do zarządzania fakturami,
                stworzone z wykorzystaniem ASP.NET MVC 8.0. Umożliwia tworzenie, edycję, przeglądanie oraz usuwanie
                faktur wraz z ich szczegółowymi pozycjami.</p>
            <hr>
            <h5>Funkcjonalności:</h5>
            <ul>
                <li><strong>Tworzenie faktur:</strong> Użytkownicy mogą tworzyć nowe faktury, dodając niezbędne
                    informacje takie
                    jak dane
                    klienta, datę wystawienia faktury oraz pozycje faktury.</li>
                <li><strong>Edycja faktur:</strong> Faktury mogą być edytowane, co obejmuje zarówno dane główne faktury,
                    jak i
                    jej
                    szczegółowe pozycje.</li>
                <li><strong>Przegląd faktur:</strong> Użytkownicy mogą przeglądać listę wszystkich wystawionych faktur w
                    systemie.</li>
                <li><strong>Usuwanie faktur:</strong> Faktury mogą być usuwane z systemu, z dodatkowymi ograniczeniami
                    dostępu
                    dla tej
                    funkcji.</li>
            </ul>
            <h5>Technologie:</h5>
            <ul>
                <li>ASP.NET MVC 8.0</li>
                <li>Entity Framework Core 8.0</li>
                <li>Bootstrap 5.1</li>
                <li>MySQL</li>
            </ul>
            <hr>
            <h5>Dane do logowania:</h5>
            <ul>
                <li><strong>Główna księgowa:</strong>
                    <ul>
                        <li><strong>Login:</strong> barbara@wp.pl</li>
                        <li><strong>Hasło:</strong> barbara1234</li>
                    </ul>
                </li>
                <li><strong>Młodsza księgowa:</strong>
                    <ul>
                        <li><strong>Login:</strong> justyna@wp.pl</li>
                        <li><strong>Hasło:</strong> justyna1234</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <p>Przedmiot: Programowanie zaawansowane 2024. Informatyka niestacjonarne - semestr V.</p>
        </div>
    </div>
</div>
